    <div class="container">
         <div class="row">
            <div class="col-sm-12">
              <div class="card" data-aos="fade-up">
                <div class="card-body">
                    <h1 class="mt-3 text-center mb-5">Our Chief Minister</h1>
                   
                    <div class="row">
                        <div class="col-lg-12 text-center " >
                             <img class="rounded " src="/images/about/CM.jpg" style="width:150px;" alt="governer"/>
                     <p></p>                    
<p class="text-primary">{{data.fullname}},</p>
<p class="text-primary">Chief Minister of Tripura.</p>
                        </div>
                    </div>
                    <div class="row ">
                          <div class="col-lg-12">
                            <div class="container px-lg-5">
                                <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Name</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{data.name}}</div>
                                </div>
                                <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Position</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{data.position}}</div>
                                </div>
                                   <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Departments</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{{data.departments}}}</div>
                                </div>
                                  <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Contacts</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{{data.contacts}}}</div>
                                </div>
                          
                        </div>
                      </div>
                    </div>
                   
                </div>
              </div>
            </div>
         </div>
    </div>

