    <div class="container">
         <div class="row">
            <div class="col-sm-12">
              <div class="card" data-aos="fade-up">
                <div class="card-body">
                    <h1 class="mt-3 text-center mb-5">Our Governer</h1>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <img  class="rounded" src="/images/about/Ashok.gif" alt="Ashok"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center " >
                             <img class="rounded " src="/images/about/Satyadev-Narayan.jpg" style="width:150px;" alt="governer"/>
                     <p></p>
                      <p class="text-primary">His Excellency</p> 
<p class="text-primary">{{data.name}},</p>
<p class="text-primary">Governor of Tripura.</p>
                        </div>
                    </div>
                    <div class="row ">
                          <div class="col-lg-12">
                            <div class="container px-lg-5">
                                <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Father's Name</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{data.father}}</div>
                                </div>
                                <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Mother's Name</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{data.mother}}</div>
                                </div>
                                   <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Name of Wife</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{data.wife}}</div>
                                </div>
                                  <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Date of Birth</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{data.dateOfBirth}}</div>
                                </div>
                                  <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Birth Place</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{data.placeOfBirth}}</div>
                                </div>
                                  <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Education</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{data.education}}</div>
                                </div>
                                   <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Marital Status</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{data.martialStatus}}</div>
                                </div>
                                  <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Date of Marriage</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{data.dateOfMarriage}}</div>
                                </div>
                                  <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Children</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{data.children}}</div>
                                </div>
                                 <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Permanent Address</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{data.permanentAddress}}</div>
                                </div>
                                   <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Email ID</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{data.email}}</div>
                                </div>
                                  <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Profession</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{data.profession}}</div>
                                </div>
                                  <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Politics</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{data.politics}}</div>
                                </div>
                                 <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Social Services</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{{data.socialServices}}}</div>
                                </div>
                                   <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Interest</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{data.interest}}</div>
                                </div>
                                  <div class="row mx-lg-n5">
                                    <div class="col py-3 px-lg-5 border bg-light text-info">Political Party</div>
                                    <div class="col py-3 px-lg-5 border bg-light text-primary">{{data.politicalParty}}</div>
                                </div>
                        </div>
                      </div>
                    </div>
                   
                </div>
              </div>
            </div>
         </div>
    </div>

