<div class="container">
  <!-- Banner Top-->
  <div class="row" data-aos="fade-up">
    <div class="col-xl-12 stretch-card grid-margin">
      <div class="card">
        <div class="position-relative cursor-pointer" onclick="window.open('/durgapuja','_blank').focus">
          <img src="images/dashboard/banner2.jpeg" alt="banner" class="img-fluid" />
          <div class="banner-top">
          
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End-->
  <!-- Headline Top with Latest News-->
  <div class="row" data-aos="fade-up">
    <div class="col-xl-8 stretch-card grid-margin">
      {{#list global}}
      <div class="position-relative" onclick="window.location.href = '/news?category=global&id={{id}}'">
        <img src="images/news/global/{{imageName}}" alt="banner" class="img-fluid" />
        <div class="banner-content">
          <div class="overlay">
          <!--  <div class="badge badge-danger fs-12 font-weight-bold mb-3">
              Top News
            </div>-->
            <h1 class="mb-0">{{shortTitle}}</h1>
            <h1 class="mb-2">
              {{title}}
            </h1>
            <div class="fs-12">
              <span class="me-2">{{category}}</span>
            </div>
          </div>
        </div>
      </div>
      {{/list}}
    </div>
    <div class="col-xl-4 stretch-card grid-margin">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <h2>Latest news</h2>
          {{#latestnews latestnews}}
          <div class="pe-3 news-a cursor-pointer" onclick="window.location.href = '/news?category={{newsCategory}}&id={{id}}'">
            <h5>{{title}}</h5>
            <div class="fs-12">
              <span class="me-2">{{category}}</span>{{publishedAt}}
            </div>
          </div>
          <div class="rotate-img latest-news-home cursor-pointer" onclick="window.location.href = '/news?category={{newsCategory}}&id={{id}}'">
            <img src="images/news/{{newsCategory}}/{{imageName}}" alt="thumb" class="img-fluid img-lg" />
          </div>
          {{/latestnews}}
        </div>
      </div>
    </div>
  </div>
  <!-- End-->
  <!-- Tripura News Top-->
  {{#if tripuranews}}
  <div class="row" data-aos="fade-up">

    <div class="col-lg-9 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title cursor-pointer" onclick="window.location.href = '/allnews?category=tripura'">
            Tripura News (View All)
          </div>
          {{#list tripuranews}}
          <div class="row cursor-pointer" onclick="window.location.href = '/news?category=tripura&id={{id}}'">
            <div class="col-sm-4 grid-margin">
              <div class="position-relative">
                <div class="rotate-img">
                  <img src="images/news/tripura/{{imageName}}" alt="thumb" class="img-fluid" />
                </div>
                <div class="badge-positioned">
                  <span class="badge badge-danger font-weight-bold">Tripura News</span>
                </div>
              </div>
            </div>
            <div class="col-sm-8  grid-margin">
              <h2 class="mb-2 font-weight-600">
                {{title}}
              </h2>
              <div class="fs-13 mb-2">
                <span class="me-2">{{category}}</span>{{publishedAt}}
              </div>
              <p class="mb-0 a-black">
                {{description}}
              </p>
            </div>
          </div>
          {{/list}}
        </div>
      </div>
    </div>
    <div class="col-lg-3 stretch-card grid-margin">
      <div class="card">
        <div class="card-body advertisements">
          <img alt="ads" src="https://dummyimage.com/300x300/c2c0c2/2e2e33.jpg&text=ads+go+here" />
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  <!-- End-->
   <!-- National News Top-->
  {{#if national}}
  <div class="row" data-aos="fade-up">

    <div class="col-lg-9 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title cursor-pointer" onclick="window.location.href = '/allnews?category=national'">
            National News (View All)
          </div>
          {{#list national}}
          <div class="row cursor-pointer" onclick="window.location.href = '/news?category=national&id={{id}}'">
            <div class="col-sm-4 grid-margin">
              <div class="position-relative">
                <div class="rotate-img">
                  <img src="images/news/national/{{imageName}}" alt="thumb" class="img-fluid" />
                </div>
                <div class="badge-positioned">
                  <span class="badge badge-danger font-weight-bold">National News</span>
                </div>
              </div>
            </div>
            <div class="col-sm-8  grid-margin">
              <h2 class="mb-2 font-weight-600">
                {{title}}
              </h2>
              <div class="fs-13 mb-2">
                <span class="me-2">{{category}}</span>{{publishedAt}}
              </div>
              <p class="mb-0 a-black">
                {{description}}
              </p>
            </div>
          </div>
          {{/list}}
        </div>
      </div>
    </div>
    <div class="col-lg-3 stretch-card grid-margin">
      <div class="card">
        <div class="card-body advertisements">
          <img alt="ads" src="https://dummyimage.com/300x300/c2c0c2/2e2e33.jpg&text=ads+go+here" />
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  <!-- End-->
    <!-- politics News Top-->
  {{#if politics}}
  <div class="row" data-aos="fade-up">

    <div class="col-lg-9 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title cursor-pointer" onclick="window.location.href = '/allnews?category=politics'">
            Politics News (View All)
          </div>
          {{#list politics}}
          <div class="row cursor-pointer" onclick="window.location.href = '/news?category=politics&id={{id}}'">
         
            <div class="col-sm-4 grid-margin">
              <div class="position-relative">             
                <div class="rotate-img">
                  <img  src="images/news/politics/{{imageName}}" alt="thumb" class="img-fluid" />
                </div>
               
                <div class="badge-positioned">
                  <span class="badge badge-danger font-weight-bold">Politics News</span>
                </div>
              </div>
            </div>
          
            <div class="col-sm-8  grid-margin">
              <h2 class="mb-2 font-weight-600">
                {{title}}
              </h2>
              <div class="fs-13 mb-2">
                <span class="me-2">{{category}}</span>{{publishedAt}}
              </div>
              <p class="mb-0 a-black">
                {{description}}
              </p>
            </div>
          </div>
          {{/list}}
        </div>
      </div>
    </div>
    <div class="col-lg-3 stretch-card grid-margin">
      <div class="card">
        <div class="card-body advertisements">
          <img alt="ads" src="https://dummyimage.com/300x300/000/d5d5e0.jpg&text=ads+go+here" />
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  <!-- End-->
    <!-- sports News Top-->
  {{#if sports}}
  <div class="row" data-aos="fade-up">

    <div class="col-lg-9 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title cursor-pointer" onclick="window.location.href = '/allnews?category=sports'">
            Sports News (View All)
          </div>
          {{#list sports}}
          <div class="row cursor-pointer" onclick="window.location.href = '/news?category=sports&id={{id}}'">
            <div class="col-sm-4 grid-margin">
              <div class="position-relative">
                <div class="rotate-img">
                  <img src="images/news/sports/{{imageName}}" alt="thumb" class="img-fluid" />
                </div>
                <div class="badge-positioned">
                  <span class="badge badge-danger font-weight-bold">Sports News</span>
                </div>
              </div>
            </div>
            <div class="col-sm-8  grid-margin">
              <h2 class="mb-2 font-weight-600">
                {{title}}
              </h2>
              <div class="fs-13 mb-2">
                <span class="me-2">{{category}}</span>{{publishedAt}}
              </div>
              <p class="mb-0 a-black">
                {{description}}
              </p>
            </div>
          </div>
          {{/list}}
        </div>
      </div>
    </div>
    <div class="col-lg-3 stretch-card grid-margin">
      <div class="card">
        <div class="card-body advertisements">
          <img alt="ads" src="https://dummyimage.com/300x300/c2c0c2/2e2e33.jpg&text=ads+go+here" />
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  <!-- End-->
     <!-- entertainment News Top-->
  {{#if entertainment}}
  <div class="row" data-aos="fade-up">

    <div class="col-lg-9 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title cursor-pointer" onclick="window.location.href = '/allnews?category=entertainment'">
            Entertainment News (View All)
          </div>
          {{#list entertainment}}
          <div class="row cursor-pointer" onclick="window.location.href = '/news?category=entertainment&id={{id}}'">
            <div class="col-sm-4 grid-margin">
              <div class="position-relative">
                <div class="rotate-img">
                  <img src="images/news/entertainment/{{imageName}}" alt="thumb" class="img-fluid" />
                </div>
                <div class="badge-positioned">
                  <span class="badge badge-danger font-weight-bold">Entertainment News</span>
                </div>
              </div>
            </div>
            <div class="col-sm-8  grid-margin">
              <h2 class="mb-2 font-weight-600">
                {{title}}
              </h2>
              <div class="fs-13 mb-2">
                <span class="me-2">{{category}}</span>{{publishedAt}}
              </div>
              <p class="mb-0 a-black">
                {{description}}
              </p>
            </div>
          </div>
          {{/list}}
        </div>
      </div>
    </div>
    <div class="col-lg-3 stretch-card grid-margin">
      <div class="card">
        <div class="card-body advertisements">
          <img alt="ads" src="https://dummyimage.com/300x300/c2c0c2/2e2e33.jpg&text=ads+go+here" />
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  <!-- End-->
     <!-- International News Top-->
  {{#if international}}
  <div class="row" data-aos="fade-up">

    <div class="col-lg-9 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title cursor-pointer" onclick="window.location.href = '/allnews?category=international'">
            International News (View All)
          </div>
          {{#list international}}
          <div class="row cursor-pointer" onclick="window.location.href = '/news?category=international&id={{id}}'">
            <div class="col-sm-4 grid-margin">
              <div class="position-relative">
                <div class="rotate-img">
                  <img src="images/news/international/{{imageName}}" alt="thumb" class="img-fluid" />
                </div>
                <div class="badge-positioned">
                  <span class="badge badge-danger font-weight-bold">International News</span>
                </div>
              </div>
            </div>
            <div class="col-sm-8  grid-margin">
              <h2 class="mb-2 font-weight-600">
                {{title}}
              </h2>
              <div class="fs-13 mb-2">
                <span class="me-2">{{category}}</span>{{publishedAt}}
              </div>
              <p class="mb-0 a-black">
                {{description}}
              </p>
            </div>
          </div>
          {{/list}}
        </div>
      </div>
    </div>
    <div class="col-lg-3 stretch-card grid-margin">
      <div class="card">
        <div class="card-body advertisements">
          <img alt="ads" src="https://dummyimage.com/300x300/c2c0c2/2e2e33.jpg&text=ads+go+here" />
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  <!-- End-->
    <!-- Region News Top-->
  {{#if region}}
  <div class="row" data-aos="fade-up">

    <div class="col-lg-9 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title cursor-pointer" onclick="window.location.href = '/allnews?category=region'">
            Region News (View All)
          </div>
          {{#list region}}
          <div class="row cursor-pointer" onclick="window.location.href = '/news?region=region&id={{id}}'">
            <div class="col-sm-4 grid-margin">
              <div class="position-relative">
                <div class="rotate-img">
                  <img src="images/news/{{imageName}}" alt="thumb" class="img-fluid" />
                </div>
                <div class="badge-positioned">
                  <span class="badge badge-danger font-weight-bold">Region News</span>
                </div>
              </div>
            </div>
            <div class="col-sm-8  grid-margin">
              <h2 class="mb-2 font-weight-600">
                {{title}}
              </h2>
              <div class="fs-13 mb-2">
                <span class="me-2">{{category}}</span>{{publishedAt}}
              </div>
              <p class="mb-0 a-black">
                {{description}}
              </p>
            </div>
          </div>
          {{/list}}
        </div>
      </div>
    </div>
    <div class="col-lg-3 stretch-card grid-margin">
      <div class="card">
        <div class="card-body advertisements">
          <img alt="ads" src="https://dummyimage.com/300x300/c2c0c2/2e2e33.jpg&text=ads+go+here" />
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  <!-- End-->
     <!-- Tourism News Top-->
  {{#if tourism}}
  <div class="row" data-aos="fade-up">

    <div class="col-lg-9 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title cursor-pointer" onclick="window.location.href = '/allnews?category=tourism'">
            Tourism News (View All)
          </div>
          {{#list tourism}}
          <div class="row cursor-pointer" onclick="window.location.href = '/news?region=tourism&id={{id}}'">
            <div class="col-sm-4 grid-margin">
              <div class="position-relative">
                <div class="rotate-img">
                  <img src="images/news/{{imageName}}" alt="thumb" class="img-fluid" />
                </div>
                <div class="badge-positioned">
                  <span class="badge badge-danger font-weight-bold">Tourism News</span>
                </div>
              </div>
            </div>
            <div class="col-sm-8  grid-margin">
              <h2 class="mb-2 font-weight-600">
                {{title}}
              </h2>
              <div class="fs-13 mb-2">
                <span class="me-2">{{category}}</span>{{publishedAt}}
              </div>
              <p class="mb-0 a-black">
                {{description}}
              </p>
            </div>
          </div>
          {{/list}}
        </div>
      </div>
    </div>
    <div class="col-lg-3 stretch-card grid-margin">
      <div class="card">
        <div class="card-body advertisements">
          <img alt="ads" src="https://dummyimage.com/300x300/c2c0c2/2e2e33.jpg&text=ads+go+here" />
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  <!-- End-->
  <div class="row" data-aos="fade-up">
    <div class="col-sm-12 grid-margin">
        <div class="card">
        <div class="card-body">
          <div class="card-title">
            Daily News Photo Album
          </div>
      <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel" >
  <div class="carousel-indicators">
      {{#eachData imggallery}}
      {{#ifEquals  index "0"}}
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{index}}" class="active" aria-current="true" aria-label="Slide {{index}}"></button>
   {{/ifEquals}}
   {{#ifNotEquals  index "0"}}
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{index}}" class="" aria-current="true" aria-label="Slide {{index}}"></button>
     {{/ifNotEquals}}

     {{/eachData}}  
  </div>
  <div class="carousel-inner">
     {{#list imggallery}}
    <div class="carousel-item drk {{status}}" onclick="window.open('{{url}}','_blank').focus">
      <img   src="{{path}}/{{imageName}}" class="d-block w-100 rounded img-fluid" alt="{{caption}}">
      <div class="carousel-caption d-none d-md-block font-weight-600">
        <h5>{{caption}}</h5>
      </div>
    </div>   
      {{/list}}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
       </div>
    </div>
  </div>
  </div>
  </div>
 
  <!-- Video-->
  <div class="row" data-aos="fade-up">
    <div class="col-sm-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <div class="card-title">
                Video
              </div>
              <div class="row">
                <div class="col-sm-6 grid-margin cursor-pointer"
                  onclick="window.open('https://www.youtube.com/watch?v=dFhrNRs16Z0','_blank').focus">
                  <div class="position-relative">
                    <div class="rotate-img">
                      <img src="/images/video/youtube6.png" alt="thumb" class="img-fluid" />
                    </div>
                    <div class="badge-positioned w-90">
                      <div class="d-flex justify-content-between align-items-center">
                        <span class="badge badge-danger font-weight-bold">News Videos</span>
                        <div class="video-icon">
                          <i class="mdi mdi-play"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 grid-margin cursor-pointer"
                  onclick="window.open('https://www.youtube.com/watch?v=09q-y6utlSA','_blank').focus">
                  <div class="position-relative">
                    <div class="rotate-img">
                      <img src="/images/video/youtube5.png" alt="thumb" class="img-fluid" />
                    </div>
                    <div class="badge-positioned w-90">
                      <div class="d-flex justify-content-between align-items-center">
                        <span class="badge badge-danger font-weight-bold">News Videos</span>
                        <div class="video-icon">
                          <i class="mdi mdi-play"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 grid-margin cursor-pointer"
                  onclick="window.open('https://www.youtube.com/watch?v=QDA5WpNCIIc','_blank').focus">
                  <div class="position-relative">
                    <div class="rotate-img">
                      <img src="/images/video/youtube7.png" alt="thumb" class="img-fluid" />
                    </div>
                    <div class="badge-positioned w-90">
                      <div class="d-flex justify-content-between align-items-center">
                        <span class="badge badge-danger font-weight-bold">News Videos</span>
                        <div class="video-icon">
                          <i class="mdi mdi-play"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 grid-margin cursor-pointer"
                  onclick="window.open('https://www.youtube.com/watch?v=2I26WFlqp8c','_blank').focus">
                  <div class="position-relative">
                    <div class="rotate-img">
                      <img src="/images/video/youtube8.png" alt="thumb" class="img-fluid" />
                    </div>
                    <div class="badge-positioned w-90">
                      <div class="d-flex justify-content-between align-items-center">
                        <span class="badge badge-danger font-weight-bold">News Videos</span>
                        <div class="video-icon">
                          <i class="mdi mdi-play"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-title">
                  Latest Video
                </div>
                <p class="mb-3 cursor-pointer cursor-pointer"
                  onclick="window.open('https://www.youtube.com/channel/UCxfmySCv2BbfKrKrsHRYtBg','_blank').focus">See
                  all</p>
              </div>
              <div class="d-flex justify-content-between align-items-center border-bottom pb-2">
                <div class="div-w-80 me-3">
                  <div class="rotate-img">
                    <img src="/images/dashboard/home_11.jpg" alt="thumb" class="img-fluid" />
                  </div>
                </div>
                <h3 class="font-weight-600 mb-0">
                  Apple Introduces Apple Watch
                </h3>
              </div>
              <div class="d-flex justify-content-between align-items-center border-bottom pt-3 pb-2">
                <div class="div-w-80 me-3">
                  <div class="rotate-img">
                    <img src="/images/dashboard/home_12.jpg" alt="thumb" class="img-fluid" />
                  </div>
                </div>
                <h3 class="font-weight-600 mb-0">
                  SEO Strategy & Google Search
                </h3>
              </div>
              <div class="d-flex justify-content-between align-items-center border-bottom pt-3 pb-2">
                <div class="div-w-80 me-3">
                  <div class="rotate-img">
                    <img src="/images/dashboard/home_13.jpg" alt="thumb" class="img-fluid" />
                  </div>
                </div>
                <h3 class="font-weight-600 mb-0">
                  Cycling benefit & disadvantag
                </h3>
              </div>
              <div class="d-flex justify-content-between align-items-center border-bottom pt-3 pb-2">
                <div class="div-w-80 me-3">
                  <div class="rotate-img">
                    <img src="/images/dashboard/home_14.jpg" alt="thumb" class="img-fluid" />
                  </div>
                </div>
                <h3 class="font-weight-600">
                  The Major Health Benefits of
                </h3>
              </div>
              <div class="d-flex justify-content-between align-items-center pt-3">
                <div class="div-w-80 me-3">
                  <div class="rotate-img">
                    <img src="/images/dashboard/home_15.jpg" alt="thumb" class="img-fluid" />
                  </div>
                </div>
                <h3 class="font-weight-600 mb-0">
                  Powerful Moments of Peace
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End-->
  <!-- Spotlight-->
  <div class="row" data-aos="fade-up">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-6">
              <div class="card-title">
                Spot light
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-8 col-sm-6">
                  <div class="rotate-img">
                    <img src="/images/dashboard/home_16.jpg" alt="thumb" class="img-fluid" />
                  </div>
                  <h2 class="mt-3 text-primary mb-2">
                    Newsrooms exercise..
                  </h2>
                  <p class="fs-13 mb-1 text-muted">
                    <span class="me-2">Photo </span>10 Minutes ago
                  </p>
                  <p class="my-3 fs-15">
                    Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer
                    took
                  </p>
                  <a href="#" class="font-weight-600 fs-15 text-dark">Read more</a>
                </div>
                <div class="col-xl-6 col-lg-4 col-sm-6">
                  <div class="border-bottom pb-3 mb-3">
                    <h3 class="font-weight-600 mb-0">
                      Social distancing is ..
                    </h3>
                    <p class="fs-13 text-muted mb-0">
                      <span class="me-2">Photo </span>10 Minutes ago
                    </p>
                    <p class="mb-0">
                      Lorem Ipsum has been the industry's
                    </p>
                  </div>
                  <div class="border-bottom pb-3 mb-3">
                    <h3 class="font-weight-600 mb-0">
                      Panic buying is forcing..
                    </h3>
                    <p class="fs-13 text-muted mb-0">
                      <span class="me-2">Photo </span>10 Minutes ago
                    </p>
                    <p class="mb-0">
                      Lorem Ipsum has been the industry's
                    </p>
                  </div>
                  <div class="border-bottom pb-3 mb-3">
                    <h3 class="font-weight-600 mb-0">
                      Businesses ask hundreds..
                    </h3>
                    <p class="fs-13 text-muted mb-0">
                      <span class="me-2">Photo </span>10 Minutes ago
                    </p>
                    <p class="mb-0">
                      Lorem Ipsum has been the industry's
                    </p>
                  </div>
                  <div>
                    <h3 class="font-weight-600 mb-0">
                      Tesla's California factory..
                    </h3>
                    <p class="fs-13 text-muted mb-0">
                      <span class="me-2">Photo </span>10 Minutes ago
                    </p>
                    <p class="mb-0">
                      Lorem Ipsum has been the industry's
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="card-title">
                    Article/Opinion
                  </div>
                  <div class="border-bottom pb-3 cursor-pointer"
                    onclick="window.open('/article/arindamnath','_blank').focus">
                    <div class="rotate-img ">
                      <img src="/images/article/arindam_nath.jpg" alt="thumb" class="img-fluid rounded" />
                    </div>
                    <p class="fs-16 font-weight-600 mb-0 mt-3">
                      Arindam Nath: I CAME IN DARKNESS, AM LEAVING WHEN IT’S STILL DARK....
                    </p>
                    <p class="fs-13 text-muted mb-0">
                      <span class="me-2">Photo </span>10 Minutes ago
                    </p>
                  </div>
                  <div class="pt-3 pb-3">
                    <div class="rotate-img">
                      <img src="/images/dashboard/home_18.jpg" alt="thumb" class="img-fluid" />
                    </div>
                    <p class="fs-16 font-weight-600 mb-0 mt-3">
                      Kaine: Trump Jr. may have
                    </p>
                    <p class="fs-13 text-muted mb-0">
                      <span class="me-2">Photo </span>10 Minutes ago
                    </p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card-title">
                    Bengali News
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="border-bottom pb-3">
                        <div class="row">
                          <div class="col-sm-5 pe-2">
                            <div class="rotate-img">
                              <img src="/images/dashboard/home_19.jpg" alt="thumb" class="img-fluid w-100" />
                            </div>
                          </div>
                          <div class="col-sm-7 ps-2">
                            <p class="fs-15 font-weight-600 mb-0">
                              Online shopping ..
                            </p>
                            <p class="fs-13 text-muted mb-0">
                              <span class="me-2">Photo </span>10
                              Minutes ago
                            </p>
                            <p class="mb-0 fs-13">
                              Lorem Ipsum has been
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="border-bottom pb-3 pt-3">
                        <div class="row">
                          <div class="col-sm-5 pe-2">
                            <div class="rotate-img">
                              <img src="/images/dashboard/home_20.jpg" alt="thumb" class="img-fluid w-100" />
                            </div>
                          </div>
                          <div class="col-sm-7 ps-2">
                            <p class="fs-15 font-weight-600 mb-0">
                              Online shopping ..
                            </p>
                            <p class="fs-13 text-muted mb-0">
                              <span class="me-2">Photo </span>10
                              Minutes ago
                            </p>
                            <p class="mb-0 fs-13">
                              Lorem Ipsum has been
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="border-bottom pb-3 pt-3">
                        <div class="row">
                          <div class="col-sm-5 pe-2">
                            <div class="rotate-img">
                              <img src="/images/dashboard/home_21.jpg" alt="thumb" class="img-fluid w-100" />
                            </div>
                          </div>
                          <div class="col-sm-7 ps-2">
                            <p class="fs-15 font-weight-600 mb-0">
                              Online shopping ..
                            </p>
                            <p class="fs-13 text-muted mb-0">
                              <span class="me-2">Photo </span>10
                              Minutes ago
                            </p>
                            <p class="mb-0 fs-13">
                              Lorem Ipsum has been
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="pt-3">
                        <div class="row">
                          <div class="col-sm-5 pe-2">
                            <div class="rotate-img">
                              <img src="/images/dashboard/home_22.jpg" alt="thumb" class="img-fluid w-100" />
                            </div>
                          </div>
                          <div class="col-sm-7 ps-2">
                            <p class="fs-15 font-weight-600 mb-0">
                              Online shopping ..
                            </p>
                            <p class="fs-13 text-muted mb-0">
                              <span class="me-2">Photo </span>10
                              Minutes ago
                            </p>
                            <p class="mb-0 fs-13">
                              Lorem Ipsum has been
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End-->
</div>